<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>USERS BABAY!</title>
    <link rel="stylesheet" href="/css/xervanik.css" type="text/css">
</head>
<body>
<div th:insert="~{nav :: navbar}"></div>
<div class="container">
    <div th:if="${not #lists.isEmpty(users) }">
        <h3>User List</h3>
        <table class="table-lines">
            <tr>
                <td>Id</td>
                <td>FirstName</td>
                <td>LastName</td>
                <td>Email</td>
                <td>Date Created</td>
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td><a th:href="@{/edituser/{id}(id=${user.id})}"><span th:text="${user.email}">EDIT</span></a></td>
                <td th:text="${user.createDate}"></td>
            </tr>
        </table>
    </div>
</div>
<div th:insert="~{footer :: copy}"></div>
</body>
</html>